body {
  margin: 2rem;
  font-family: sans-serif;
}

.wrapper {
  display: grid;
  grid-template-columns: 250px auto;
  column-gap: 2rem;
}

.sidebar {
  background-color: #f1f1f1;
  border-radius: 0.5rem;
}

.sidebar ul {
  margin: 0;
  padding: 0;
}

.sidebar ul li {
  margin: 1.5rem 1.5rem;
  list-style: none;
}

.sidebar ul li a {
  text-decoration: none;
  font-size: 1.25rem;
}

.main {
  background: #fbf3e7;
  padding: 1.5rem 1.5rem;
  border-radius: 0.5rem;
}

video {
  border-radius: 0.5rem;
}

.select {
  margin-bottom: 1rem;
}